<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>

    {% include _page/title.html %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="ru" />
    <meta name="description" content="Официальный сайт рок-группы &laquo;Fort Royal&raquo;: информация, тексты песен, музыка, фотографии, видео." />
    <meta name="keywords" content="Fort Royal, Форт Роял, Форт Ройял, Не впускай зверя в дверь, рок-группа, Новосибирск, Олег Авдеев, Авдей, Эдуард Покровский, Эдик Покровский, Дмитрий Сердобинцев, Дима Сердобинцев, Андрей Глебов, Даниил Войтюк, Данила Войтюк, Павел Загорский, Паша Загорский, Вячеслав Фещенко, Слава Фещенко, Дмитрий Яцко, Дима Яцко, Форт Рояль, Форт-Роял, Форт-Ройял" />
    <meta name="author" content="Evgeni Dmitriev (ThyBzi): thybzi@thybzi.com" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/screen.css" type="text/css" />

    <script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/highslide/highslide.js"></script>
    <script type="text/javascript">
        hs.graphicsDir = '{{ site.baseurl }}/assets/scripts/highslide/graphics/';
        hs.showCredits = false;
        hs.fullExpandTitle = 'Полный размер';
        hs.restoreTitle = 'Щелчок мышью закрывает изображение, клавиши-стрелки используются для перехода к предыдущему и следующему изображению';
        hs.loadingText = 'Загрузка&hellip;';
        hs.loadingTitle = 'Щёлкните мышью для отмены';
        hs.allowMultipleInstances = false;
        hs.registerOverlay({
            overlayId: 'closebutton',
            position: 'top right',
            fade: 2 // fading the semi-transparent overlay looks bad in IE
        });
    </script>

</head>
<body>

<div id="wall-left"><div id="wall-right">

<div id="top">

<div id="logo"><a href="{{ site.baseurl }}/" title="На главную страницу сайта"><img src="{{ site.baseurl }}/assets/images/logo.gif" alt="Fort Royal" /></a></div>

{% include menu.html %}

</div>
<div id="inter">

    <div id="banner">{% include banner.html %}</div>
    <div id="citate">{% include quote.html %}</div>

</div>
<div id="content">
