---
title: Концерты
description: Информация о концертах группы
page_title: Информация о&nbsp;концертах
---

{% assign future = site.concerts | where_exp:"item","item.date > site.time" | sort:"date" %}
{% if future.size > 0 %}
<h2>Предстоящие концерты</h2>

{% for item in future %}
<div class="block">
<h3>
    {% include _helpers/date.html date=item.date %}: {{ item.title }}
    <div><small>{{ item.location }}, начало в&nbsp;{{ item.time }}</small></div>
</h3>
{{ item.content | split: '~~~' | first }}
</div>
{% endfor %}

{% endif %}

{% assign past = site.concerts | where_exp:"item","item.date <= site.time" | sort:"date" | reverse %}
{% if past.size > 0 %}
<h2>Прошедшие концерты</h2>

{% for item in past %}
<div class="block">
<h3>
    {% include _helpers/date.html date=item.date %}: {{ item.title }}
    <div><small>{{ item.location }}, начало в&nbsp;{{ item.time }}</small></div>
</h3>
{{ item.content | split: '~~~' | last }}
</div>
{% endfor %}

{% endif %}
