---
title: Музыка
description: Альбомы, песни, тексты, mp3
---

<a name="top"></a>
<h2>Быстрый переход:</h2>

{% assign albums = site.albums | sort:"year" | reverse %}

<ul>
{% for album in albums %}
    <li><a href="#{{ album.slug }}">{{ album.title }}</a>{% if album.year %} ({{ album.year }}){% endif %}</li>
{% endfor %}
</ul>

{% for album in albums %}

<a name="{{ album.slug }}"></a>
<div class="block">

<h2>{{ album.title }}{% if album.year %} ({{ album.year }}){% endif %}</h2>
{% if album.cover %}<div class="cover"><img src="{{site.baseurl}}/files/covers/{{ album.cover }}" alt="Обложка" /></div>{% endif %}
<ol>
{% for song_item in album.songs %}
{% capture devnull %}
    {% assign song_item_parts = song_item | split:"|" %}
    {% assign song_slug = song_item_parts[0] %}
    {% assign song_alt_title = song_item_parts[1] %}
    {% assign song_alt_title = song_alt_title | strip %}
    {% assign song_note = song_item_parts[2] %}
    {% assign song = site.songs | where:"slug",song_slug | first %}
    {% if song_alt_title.size > 0 %}
        {% assign song_title = song_alt_title %}
    {% else %}
        {% assign song_title = song.title %}
    {% endif %}
    {% assign text = song.content | strip %}
    {% if text.size > 0 %}
        {% capture link_open %}<a href="{{site.baseurl}}{{ song.url }}" title="Смотреть текст песни">{% endcapture %}
        {% capture link_close %}</a>{% endcapture %}
    {% else %}
        {% assign link_open = "" %}
        {% assign link_close = "" %}
    {% endif %}
{% endcapture %}
    <li>{{ link_open }}{{ song_title }}{{ link_close }}{% if song_note %} {{ song_note }}{% endif %}</li>
{% endfor %}
</ol>

<div class="small">{{ album.content }}</div>

<p>(<a href="#main" title="Вернуться к началу страницы">наверх</a>)</p>

<div class="pusher"></div>
</div>
{% endfor %}
