{% assign slug = page.path | split:"/" | last | split:"." | first %}
<div class="gallery-wrapper">
{% for item in include.images %}
    {% capture devnull %}
        {% assign data = item | split:"|" %}
        {% assign image = data[0] | strip | prepend:"/" | prepend:slug | prepend:"files/photo/"  %}
        {% assign thumb = data[1] | strip %}
        {% assign caption = data[2] | strip %}
        {% assign thumb_strlen = thumb | size %}
        {% if thumb_strlen > 0 %}
            {% assign thumb = thumb | prepend:"/" | prepend:slug | prepend:"files/photo/" %}
        {% endif %}
    {% endcapture %}{% assign devnull = nil %}
    {% include gallery_item.html image=image thumb=thumb caption=caption %}
{% endfor %}
    <div class="pusher"></div>
</div>
